<!doctype html>
<html lang="ko">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>D-QUIZ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{% static 'quiz/css/style.css' %}" >
  </head>
  <body>
    <div class="navbar fixed-top d-flex justify-content-center">
        <!--main logo-->
        <div class="logo">
            <a href="./index.html">
                <img src="./img/mainlogo.png" alt="로고">
            </a>    
        </div>
        <!--hamburger nav-->
        <div class="hamburger-menu context">
            <input id="menu__toggle" type="checkbox" class="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>  
            <nav class="menu__box">
                <ul class="menu__list context">
                    <div class="menu__all"></div>
                        <!-- <a href="#my2"><div class="profile"><img src="./img/KakaoTalk_20230502_164507254.jpg" alt="프로필이미지"></div></a> -->
                        <p class="mine"><b>노은아<br>My Point</b></p>
                        <li><a class="menu__item" href="#my2">프로필</a></li>
                        <li><a class="menu__item" href="#my3">내가 만든 문제</a></li>
                        <li><a class="menu__item" href="#">오답노트</a></li>
                        <li><a class="menu__item" href="#">내 포인트관리</a></li>
                        <li><a class="logoutbtn" href="./sh.html">로그아웃</a></li>
                </ul>
            </nav>
        </div> 
    </div>    
    <!--main menu-->
    <div class="display-container d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center">
            <div class="item1 d-flex justify-content-center align-items-center mx-3 my-3 m">
                <a href="#dailyquiz" class="menu">
                    <img src="./img/dailtquiz.png" alt="dailyquiz">
                    <p class="text d-flex justify-content-center"><b>Daily Quiz</b></p>
                </a>
            </div>  
            <div class="item1 d-flex justify-content-center align-items-center mx-3 my-3">
                <a href="#hotquiz" class="menu">
                    <img src="./img/hot.png" alt="hotquiz">
                    <p class="text d-flex justify-content-center"><b>User Quiz</b></p>
                </a>
            </div>  
            <div class="item1 d-flex justify-content-center align-items-center mx-3 my-3">
                <a href="./communitypage.html" class="menu">
                    <img src="./img/community1.png" alt="community">
                    <p class="text d-flex justify-content-center"><b>Community</b></p>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="item1 d-flex justify-content-center align-items-center mx-3 my-3">
                <a href="#myponint" class="menu">
                    <img src="./img/money.png" alt="mypoint">
                    <p class="text d-flex justify-content-center"><b>My point</p>
                </a>
            </div>
            <div class="item1 d-flex justify-content-center align-items-center mx-3 my-3">
                <a href="#createaquiz" class="menu">
                    <img src="./img/create.png" alt="mypoint">
                    <p class="text d-flex justify-content-center"><b>Create a quiz</p>
                </a>
            </div>
        </div>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>