<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>내가 만든 문제</title>
        <link rel="stylesheet" href="{% static 'quiz/css/make.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'quiz/source/img/mainlogo.png'%}" alt="main-logo" style="width: 40px; height:40px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 context">
                        <li class="nav-item">
                            <a class="nav-link"  href=".">마이페이지</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link" href="#">내가 만든 문제</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">오답노트</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">내 포인트 관리</a>
                        </li>
                        <li class="nav-item"></li>
                            <a class="nav-link" href="#">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex justift-content-center title my-4">
            <h1>내가 만든 문제</h1>
        </div>
            <form method="post" action="#">
                {%csrf_token%}
                {% for uquiz in my_quizzes %}
                    <div class="quiz-container context my-3 py-4">
                        <div class="question">
                            <div>
                                <a href="{% url 'update_quiz' uquiz.u_quiz_id %}"><p class="content">{{ uquiz.u_content }}</p></a>
                            </div>
                            <div class="bt_wrap">
                                <a href="{% url 'update_quiz' uquiz.u_quiz_id %}" class="on" style="font-size: 18px;">수정</a>
                                <a href="{% url 'delete_quiz' uquiz.u_quiz_id %}" class="delete" style="font-size: 18px;">삭제</a>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </form>
    </body>
</html>