<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 수정</title>
    <link rel="stylesheet" href="{% static 'post/css/communitypage.css' %">
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'post/css/communitypage.css' %}">
</head>

<body class = "context">
    <nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{% static 'post/source/img/mainlogo.png' %}" alt="main-logo" style="width: 40px; height:40px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 context">
                    <li class="nav-item">
                        <a class="nav-link"  href="#">마이페이지</a>
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link" href="#">내가 만든 문제</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">오답노트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">내 포인트 관리</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="#">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시물 수정</strong>
            <p>게시물을 수정해주세요.</p>
        </div>
        <form method="post" enctype="multipart/form-data"> 
            {%csrf_token%}
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <dl>
                            <dt></dt>
                            <dd><input type="text" name="title" placeholder="제목 입력" value="{{board.title}}"></dd>
                        </dl>
                    </div>
                    <div class="info">
                        <dl>
                            <dt>글쓴이</dt>
                            <dd>{{board.author.username}}</dd>
                        </dl>
                        <dl>
                            <dt><input value="{{board.photo.url}}" type="file" name="photo" /></dt>`
                        </dl>
                    </div>
                    <div class="cont">
                        <textarea name="content" placeholder="내용 입력"> {{board.content}}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="bt_wrap">
                <a><input type='submit' class="on" value="수정"> </a>
                <a href="{% url 'board_detail' board_id=board.id %}">취소</a>
                {% comment %} <a href="{% url 'delete_board' %}" class="delete">삭제</a> {% endcomment %}
            </div>
        </form>
        </div>
    </div>
</body>
</html>