@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.title {
    font-family: "TheJamsil5Bold";
}

@font-face {
    font-family: "GongGothicMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.context {
    font-family: "GongGothicMedium";
}

.d-flex {
    display: flex;
}


.pp {
    border: 3px solid white;
    border-radius: 10%;
    background-color: white;
    width: 700px;
    height: 600px;
    z-index: 3000;
}

.quiz-title {
    text-align: center;
    /*border-bottom: 3px solid #139F17;*/
    background-color: rgb(255, 124, 146);
    border: 1px solid rgb(255, 124, 146);
    border-radius: 10px;
    width: 300px;
}

.bt_wrap {
    margin-top: 10px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 10px;
    margin-left: 10px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    text-decoration: none;
    color: inherit;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: rgb(255, 124, 146);
    border-color: rgb(255, 124, 146);
    color: #fff;
}

.bt_wrap a.delete {
    background-color: #666666;
    border: #666666;
    color: white;
}

.question {
    background-color: rgb(240, 240, 240);
    border: 4px solid rgb(240, 240, 240);
    border-radius: 20px;
    height: 100px;
    width: 500px;
}

.content {
    text-align: center;
}

.quiz-container {
    text-align: center;
}

.line {
    position: absolute;
    width: 120px;
    top: 80px;
    left: 30px;
    /*transform: rotate(80deg);*/
}

.heart1 {
    position: absolute;
    width: 150px;
    top: 250px;
    left: 100px;
}