@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'KimjungchulGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
body {
    background-color : white;
}

.display-container {
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    overflow: hidden;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    margin-left: auto;
}

.logo img {
    width: 40px;
    top:20px;
}
.page-name {
  display: inline-block;
  padding-left: 63px;
  padding-bottom: 87px;
}
  .mine {
    text-align: center;
  }
  .wrap {
    text-align: center;
  }
  .wrap-section {
    width: 700px;
    height: 550px;
    display: inline-block;
    background-color: #d8f1e6;
    margin-top: 90px;
    border-radius: 20px;
  }
  .explain1 {
    font-family: 'TheJamsil5Bold';
    font-size: 47px;
  }
  .explain2 {
    font-family: 'KimjungchulGothic';
    font-size: 17px;
  }
  .point-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 77px;
    justify-content: space-between;
    margin-left: 62px;
}

#point-bar {
    height: 30px; /* 바의 높이 조정 */
    width: 60%;
    background-color: #e0e0e0;
    border-radius: 15px;
    appearance: none;
    margin-left: 50px;
}
#point-bar::-webkit-progress-value {
  background-color: red; /* 빨간색 바 색상 설정 (WebKit 브라우저용) */
}
.icon-point {
  display: flex;
  margin-right: 158px;
}
.point-icon {
  color: red;
  font-size: 20px;
}
.current-points {
  padding-left: 6px;
  font-size: 20px;
}
.checkpoint-container {
  margin-top: 100px;
  font-size: 25px; /* 포인트 정보의 글꼴 크기 조정 */
}

.all-point,
.today-point {
  padding: 5px 10px;
  background-color: #49f175;
  border-radius: 15px;
}