@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.title {
  font-family: "TheJamsil5Bold";
}

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.context {
  font-family: "GongGothicMedium";
}

body {
  background-color: #ECEFF1;
  height: 100vh;
  margin: 0;
}

.profile-box {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 1000px;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
.profile-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.profile-img {
  width: 300px;
  height: 300px;
}
.profile-button {
  width: 90px;
  outline: none;
  background-color: c;
  border-radius: 5px;
}

.nickname {
  border-radius: 20px;
  height: 50px;
  background-color: #139F17;
  font-weight: bold;
}
